* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  a {
    text-decoration: none;
    color: #000;
  }
  ul {
    list-style-type: none;
  }
  body {
      font-family: Arial, sans-serif;
      width: 100vw;
      height: 100vh;
      margin: auto;
    }
    
.wrap {
    width: 100%;
    height: 100%;
    background-color: white;
}
header {
    position: fixed;
    top: 0;
    float: left;
    z-index: 99;
    background-color: #fff;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    border: 2px solid #ccc;
    /* outline: 1px solid blue; */
}
.logo {
    /* outline: 1px solid black; */
    height: 40px;
}
.logo > a > img {
    width: 100%;
    height: 100%;
}
nav {
    /* outline: 1px solid #ccc; */
    width: 40%;
    height: 100%;
    display: flex;
}
nav > .depth1 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > .depth1 > li > a:hover {
    font-weight: 700;
}
.user_box {
    /* outline: 1px solid black; */
    display: flex;
    /* justify-content: space-between; */
    width: 300px;
}
.user_box > h5 {
    margin-left: 10px;
    font-size: 15px;
}
.logout {
    /* outline: 1px solid black; */
    height: 40px;
    cursor: pointer;
}
.logout > img {
    height: 100%;
}

.menu1 {
    display: none;
}
.menu {
    display: none;
}
.logout_li {
    display: none;
}
/* dashboard */
main {
    width: 100%;
    height: calc(100% - 70px);
    padding-top: 60px;
    /* outline: 1px solid red; */
}
.title {
    /* outline: 1px solid black; */
    width: 100%;
    height: 50px;
    /* margin-top: 50px; */
    padding-left: 80px;
    display: flex;
    align-items: center;
}
.title > .date {
    margin-right: 20px;
}
.title >.date > p {
    font-size: 20px;
    font-weight: 600;
}
.title > .title_name > h1 {
    font-size: 20px;
    font-weight: 600;
}
.content {
    /* outline: 1px solid black; */
    width: 100%;
    height: calc(100% - 50px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 50px;
    padding-right: 50px;
}
.content_box {
    border: 2px solid #ccc;
    width: 30%;
    height: 40%;
    padding-top: 10px;
    padding-left: 20px;
    border-radius: 40px;
}
.content_box:last-child {
    width: 100%;
}
.content_box > h1 {
    font-size: 20px;
}